<ng-container *ngIf="stat.outputType=='resultNumber'">
    <mat-card class="resultNumber-card" [style]="'background-color:'+getbgcolor()+' ;color:'+getTextColor()+';'">
        <mat-card-title>{{stat.outputLabel}}</mat-card-title>
        <mat-card-content class="space-evenly">

            <div class="stat-info">
                <span class="result-number">{{stat.results}}</span>
               <!-- <span class="result-label">{{stat.outputLabel}}</span>-->
            </div>
            <div class="right-icon">
                <mat-icon [style]="'color:'+getIconColor()+';'">{{getIcon()}}</mat-icon>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container> 
<ng-container *ngIf="stat.outputType=='numberGraph'">
    <mat-card class="numberGraph-card" [style]="'background-color:'+getbgcolor()+' ;color:'+getTextColor()+';'">
        <mat-card-title class="numberGraph-title">{{stat.outputLabel}}</mat-card-title>
        <mat-card-content>
            <canvas #chartCanvas  ></canvas>
        </mat-card-content>
    </mat-card>

</ng-container>
